<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>StellarMercurScope</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
    	<array>
    		<string>bmoolbb</string>
    		<string>itms-appss</string>
    		<string>mailto</string>
    		<string>conexus</string>
    		<string>cibcbanking</string>
    		<string>bncmobile</string>
    		<string>rbcmobile</string>
    		<string>scotiabank</string>
    		<string>pcfbanking</string>
    		<string>tdct</string>
    		<string>nl.abnamro.deeplink.psd2.consent</string>
    		<string>nl-snsbank-sign</string>
    		<string>nl-asnbank-sign</string>
    		<string>triodosmobilebanking</string>
    		<string>fb</string>
    	</array>
	<key>NSAppTransportSecurity</key>
    	<dict>
    		<key>NSAllowsArbitraryLoads</key>
    		<true/>
    	</dict>
    	<key>NSCameraUsageDescription</key>
    	<string>We need access to your camera to take photos.</string>
    	<key>NSDocumentsFolderUsageDescription</key>
    	<string>We need access to your documents to save and play audio files.</string>
    	<key>NSLocationWhenInUseUsageDescription</key>
    	<string>We need access to your location to provide location-based services.</string>
    	<key>NSMicrophoneUsageDescription</key>
    	<string>We need access to your microphone to record audio.</string>
    	<key>NSPhotoLibraryUsageDescription</key>
    	<string>We need access to your photo library to select images for playlists.</string>
    	<key>NSUserTrackingUsageDescription</key>
    	<string>${PRODUCT_NAME} uses tracking to provide personalized ads tailored to your interests.</string>
    	<key>SKAdNetworkItems</key>
    	<array>
    		<dict>
    			<key>SKAdNetworkIdentifier</key>
    			<string>cstr6suwn9.skadnetwork</string>
    		</dict>
    		<dict>
    			<key>SKAdNetworkIdentifier</key>
    			<string>v9wttpbfk9.skadnetwork</string>
    		</dict>
    		<dict>
    			<key>SKAdNetworkIdentifier</key>
    			<string>n38lu8286q.skadnetwork</string>
    		</dict>
    		<dict>
    			<key>SKAdNetworkIdentifier</key>
    			<string>lr83yxwka7.skadnetwork</string>
    		</dict>
    		<dict>
    			<key>SKAdNetworkIdentifier</key>
    			<string>f38h382jlk.skadnetwork</string>
    		</dict>
    		<dict>
    			<key>SKAdNetworkIdentifier</key>
    			<string>4pfyvq9l8r.skadnetwork</string>
    		</dict>
    		<dict>
    			<key>SKAdNetworkIdentifier</key>
    			<string>2u9pt9hc89.skadnetwork</string>
    		</dict>
    	</array>
	<key>UIAppFonts</key>
	<array>
		<string>TTTravels-Black.ttf</string>
		<string>TTTravels-BlackItalic.ttf</string>
		<string>TTTravels-Bold.ttf</string>
		<string>TTTravels-BoldItalic.ttf</string>
		<string>TTTravels-DemiBold.ttf</string>
		<string>TTTravels-DemiBoldItalic.ttf</string>
		<string>TTTravels-ExtraBold.ttf</string>
		<string>TTTravels-ExtraBoldItalic.ttf</string>
		<string>TTTravels-ExtraLight.ttf</string>
		<string>TTTravels-ExtraLightItalic.ttf</string>
		<string>TTTravels-Italic.ttf</string>
		<string>TTTravels-Light.ttf</string>
		<string>TTTravels-LightItalic.ttf</string>
		<string>TTTravels-Medium.ttf</string>
		<string>TTTravels-MediumItalic.ttf</string>
		<string>TTTravels-Regular.ttf</string>
		<string>TTTravels-Thin.ttf</string>
		<string>TTTravels-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
